.TodoInput {
  display: flex;
  // padding: 1em;

  input[type='text'] {
    flex: 10 0;
    padding: 1em;
    &.invalid {
      color: red;
    }
  }

  .submit-button,
  .cancel-button {
    flex: 1 0;
    padding: 1em;
    color: white;
    margin-left: 1em;
  }
  .submit-button {
    background: green;
    &:disabled {
      opacity: 0.3;
    }
  }
  .cancel-button {
    background: red;
  }
}
