.TodoInput {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
}

.TodoInput input[type='text'] {
  flex: 10 0;
  padding: 1em;
}
.TodoInput input[type='text'].invalid {
  color: red;
}

.TodoInput input[type='submit'],
.TodoInput button.cancel {
  flex: 1 0;
  padding: 1em;
  color: white;
  margin-left: 1em;
}
.TodoInput input[type='submit'] {
  background: green;
}
.TodoInput button.cancel {
  background: red;
}

.TodoInput input[type='submit']:disabled {
  opacity: 0.2;
}
