.TodoItem {
  list-style: none;
  display: flex;

  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

button {
  flex: 1 0;
  background: rgba(255, 0, 0, 0.2);
  padding: 0.5em;
  margin-left: 1em;
  color: white;

  &:disabled {
    opacity: 0.3;
  }
}

.isDone,
.isNotDone {
  flex: 10 0;
  text-align: left;
  margin-left: 1em;
}
.isDone {
  text-decoration: line-through;
  opacity: 0.3;
}
