.TodoItem {
  display: flex;

  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

button {
  flex: 1 0;
  // background: rgba(255, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  margin-left: 1em;
  // color: white;

  &:disabled {
    opacity: 0.3;
  }
}

.isDone,
.isNotDone {
  flex: 10 0;
  text-align: left;
  margin-left: 1em;
  display: inline-flex;
  align-items: center;
}
.isDone {
  text-decoration: line-through;
  opacity: 0.3;
}
