.TodoInput {
  display: flex;
  background: rgba(0, 0, 128, 0.2);
  padding: 1em;
  margin-bottom: 1em;
}

.TodoInput input[type='text'] {
  flex: 10 0;
  padding: 1em;
  margin-right: 1em;
}

.TodoInput input[type='submit'] {
  flex: 1 0;
  padding: 1em;
  color: white;
  background: green;
}

.TodoInput input[type='submit']:disabled {
  opacity: 0.2;
}
