.TodoItem {
  display: flex;

  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  margin-bottom: 0.5em;

  animation: fadein 2s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  button {
    flex: 1 0;
    background: transparent; // rgba(255, 255, 255, 0.6);
    border: none;
    opacity: 0.4;
    &:hover {
      opacity: 0.8;
    }
  }
}

.isDone,
.isNotDone {
  flex: 10 0;
  text-align: left;
  margin-left: 1em;
  display: inline-flex;
  align-items: center;
}
.isNotDone {
  transition: opacity 0.5s;
}
.isDone {
  text-decoration: line-through;
  opacity: 0.3;
  transition: opacity 1s;
}
//
//
//
body .popup-content {
  background: #f0f0f0;
  border: 1px solid #444;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  padding: 1.5em;
}
