.TodoItem {
  list-style: none;
  display: flex;

  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.isDone,
.isNotDone {
  flex: 10 0;
}
.isDone {
  text-decoration: line-through;
  opacity: 0.3;
}

.TodoItem.itemButton {
  flex: 1 0;
}
